<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Barra de progreso</h3>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="porcentaje1" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje1 + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" [attr.ariaValuenow]="porcentaje2" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje2 + '%'"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-controlador (actualizaValor)="porcentaje1 = $event " nombre="Progress Azul" [porcentaje]="porcentaje1"></app-controlador>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-controlador (actualizaValor)="porcentaje2 = $event " nombre="Progress Rojo" [porcentaje]="porcentaje2"></app-controlador>

            </div>
        </div>
    </div>

</div>